.sidebar-buttons{
    -fx-background-color: transparent;
    -fx-text-fill: #9DA0A1;
    -fx-border-width: 0px;
    -fx-padding: 15 15 15 30px;
    -fx-background-radius: 20 20 20 20;
    -fx-font-size: 14px;
    -fx-font-family: "Poppins Regular";
    -fx-graphic-text-gap: 10px;
}
.sidebar-icons{
    -fx-icon-color: #9DA0A1;
}

.sidebar-buttons:hover {
    -fx-background-color: #0e9cf4;
    -fx-text-fill: White;
}

.sidebar-buttons:hover .sidebar-icons{
    -fx-icon-color: White;
}

.sidebar-style{
   -fx-padding: 15 20 0 20px;
}
.category-text{
    -fx-text-fill: #B0B0B0;
    -fx-padding: 10 5 5 32px;
    -fx-font-size: 13px;
    -fx-font-family: "Poppins Light";
}

.tab-bar{
    -fx-background-color: transparent;
    -fx-padding: 0 10 0 32px

}
.tab-mac-1,
.tab-mac-2,
.tab-mac-3{
    -fx-stroke-width: 0.5;
}

.tab-mac-1{
    -fx-fill: #ff5f57;
    -fx-stroke: #e0443e;
}

.tab-mac-2{
    -fx-fill: #febc2e;
    -fx-stroke: #dea123;
}

.tab-mac-3{
    -fx-fill: #28c840;
    -fx-stroke: #1ea832;
}
.tab-buttons{
    -fx-background-color: transparent;
    -fx-font-size: 13px;
    -fx-text-fill: #B0B0B0;
}
.tab-buttons:hover .tab-icons{
    -fx-icon-color: #03E0FD98;
}

.tab-icons{
    -fx-icon-color: #9DA0A194;
}

.button-close:hover{
    -fx-text-fill: #E33C2F;
}
.app-title-text{
    -fx-text-fill: #22A5F1;
    -fx-padding: 0 0 0 10px;
    -fx-font-size: 20px;
    -fx-font-family: "Poppins Black";
}
.logo-svg {
    -fx-fill: #22A5F1;
}
.title{
    -fx-padding: 10 0 30 40px;
}
.app-user-info{
    -fx-padding: 20;
    -fx-background-color: #4E40F806;
    -fx-background-radius: 20;
}
.app-user-lore{
    -fx-padding: 10 10 10 10;

}
.app-user-image {
    -fx-stroke: gray;
    -fx-stroke-width: 2px;
}
.app-user-name{
    -fx-text-fill: #B0B0B0;
    -fx-font-family: "Poppins Regular";
    -fx-font-size: 13px;
}
.app-user-rol{
    -fx-text-fill: #B0B0B0;
    -fx-font-family: "Poppins Light";
    -fx-font-size: 10px;
}


.content-title{
    -fx-text-fill: #808080;

    -fx-font-size: 22px;
    -fx-font-family: "Poppins Black";
}


.content-style{
    -fx-background-color: #EAEEF6;
    -fx-background-radius: 20 0 20 20;
    -fx-padding: 20 0 0 30px;
}

.root {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 20;
}

.root.maximized {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}


.modal-overlay {
    -fx-background-color: rgba(0, 0, 0, 0.55);
    -fx-alignment: CENTER;
}

.modal {
    -fx-background-color: #0d0d27;
    -fx-background-radius: 16px;

    -fx-effect: dropshadow(
            gaussian,
            rgba(0, 0, 0, 0.55),
            30,
            0.25,
            0,
            8
    );

    -fx-padding: 25px;
}

.form{
    -fx-background-color: #80808066;
    -fx-background-radius: 20;
}

.form-content{
    -fx-background-color: White;
    -fx-background-radius: 20;
}